/*
Variables - for relating component-specific values to others and preventing magic numbers
Mixins - for dynamically generating variations of the component (not necessary if few variations exist)
Structure - the CSS component layout/structure, excluding any non-layout rules, such as color
Relationships - any component-specific CSS with regard to relationships (via combinators) with other components
Themes - thematic CSS for non-layout component styling, such as background, colors, shadows, etc.
Exported Selectors - the manifested CSS classes/selectors, if they are to be expose
*/
/* line 1, ../sass/partials/_reset.scss */
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* line 9, ../sass/partials/_reset.scss */
li {
  list-style: none;
}

/* line 13, ../sass/partials/_reset.scss */
input, button, submit {
  border: none;
  background-color: transparent;
}

/* line 1, ../sass/partials/_typography.scss */
body {
  font-family: 'Lato', sans-serif !important;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
}

/* line 8, ../sass/partials/_typography.scss */
.item-head {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}

/* line 15, ../sass/partials/_typography.scss */
.item-sub, .main-wrapper .main-content .main-item .main-item-wrapper .main-item-text .main-item-text-content ul li {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
}

/* line 1, ../sass/partials/_buttons.scss */
.generic-btn {
  cursor: pointer;
  border: 2px solid #D2D2D2;
  min-height: 40px;
  height: auto;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  color: #D2D2D2;
  text-align: center;
  -webkit-transition: border 0.1s ease-in-out 0s;
  -moz-transition: border 0.1s ease-in-out 0s;
  -o-transition: border 0.1s ease-in-out 0s;
  transition: border 0.1s ease-in-out 0s;
  -webkit-transition: color 0.1s ease-in-out 0s;
  -moz-transition: color 0.1s ease-in-out 0s;
  -o-transition: color 0.1s ease-in-out 0s;
  transition: color 0.1s ease-in-out 0s;
  padding: 12px 12px;
}
/* line 17, ../sass/partials/_buttons.scss */
.generic-btn:hover {
  color: #FAFAFA;
  border: 2px solid #FAFAFA;
  -webkit-transition: border 0.1s ease-in-out 0s;
  -moz-transition: border 0.1s ease-in-out 0s;
  -o-transition: border 0.1s ease-in-out 0s;
  transition: border 0.1s ease-in-out 0s;
  -webkit-transition: color 0.1s ease-in-out 0s;
  -moz-transition: color 0.1s ease-in-out 0s;
  -o-transition: color 0.1s ease-in-out 0s;
  transition: color 0.1s ease-in-out 0s;
}

/* line 1, ../sass/layout/_grids.scss */
.wrapper {
  position: relative;
}

/* line 5, ../sass/layout/_grids.scss */
.responsive-pad {
  padding: 0 50px;
}
@media (max-width: 480px) {
  /* line 5, ../sass/layout/_grids.scss */
  .responsive-pad {
    padding: 0 20px;
  }
}

/* line 1, ../sass/layout/_navigation.scss */
.nav {
  margin-top: 60px;
  height: 60px;
  width: 100%;
}
/* line 6, ../sass/layout/_navigation.scss */
.nav div {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}
/* line 11, ../sass/layout/_navigation.scss */
.nav div .nav-logo {
  float: left;
  height: 100%;
  width: auto;
  display: table;
}
/* line 17, ../sass/layout/_navigation.scss */
.nav div .nav-logo a {
  display: table-cell;
  vertical-align: middle;
}
/* line 21, ../sass/layout/_navigation.scss */
.nav div .nav-logo a img {
  height: 40px;
  width: 70px;
}
/* line 29, ../sass/layout/_navigation.scss */
.nav div .nav-menu-btn {
  float: right;
  height: 60px;
  width: auto;
  padding: 10px 0;
  cursor: pointer;
}
/* line 36, ../sass/layout/_navigation.scss */
.nav div .nav-menu-btn div {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* line 47, ../sass/layout/_navigation.scss */
.nav-menu-btn.change {
  /* Rotate first bar */
  /* Fade out the second bar */
  /* Rotate last bar */
}
/* line 50, ../sass/layout/_navigation.scss */
.nav-menu-btn.change #top-bar {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
/* line 56, ../sass/layout/_navigation.scss */
.nav-menu-btn.change #mid-bar {
  opacity: 0;
}
/* line 61, ../sass/layout/_navigation.scss */
.nav-menu-btn.change #bot-bar {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* line 1, ../sass/layout/_main.scss */
.main-wrapper {
  padding-top: 24px;
  /*Content Grid layout*/
}
/* line 5, ../sass/layout/_main.scss */
.main-wrapper .main-content {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /*Item properties*/
  /*Responsive Grid for items*/
  /*Desktop devices*/
  /* Desktops and laptops ----------- */
  /*Tablet devices*/
  /*Phone devices*/
}
/* line 15, ../sass/layout/_main.scss */
.main-wrapper .main-content .main-item {
  overflow: hidden;
  position: relative;
  background-color: #FAFAFA;
  width: calc(25% - 9px);
  margin: 12px 6px 0;
}
/* line 22, ../sass/layout/_main.scss */
.main-wrapper .main-content .main-item .main-item-wrapper {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transition: left 0.1s ease-in-out;
  -moz-transition: left 0.1s ease-in-out;
  -o-transition: left 0.1s ease-in-out;
  transition: left 0.1s ease-in-out;
}
/* line 33, ../sass/layout/_main.scss */
.main-wrapper .main-content .main-item .main-item-wrapper:hover, .main-wrapper .main-content .main-item .main-item-wrapper :active {
  left: -50%;
  -webkit-transition: left 0.1s ease-in-out;
  -moz-transition: left 0.1s ease-in-out;
  -o-transition: left 0.1s ease-in-out;
  transition: left 0.1s ease-in-out;
}
/* line 38, ../sass/layout/_main.scss */
.main-wrapper .main-content .main-item .main-item-wrapper .main-item-text {
  width: 50%;
  height: 100%;
  margin-left: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}
/* line 44, ../sass/layout/_main.scss */
.main-wrapper .main-content .main-item .main-item-wrapper .main-item-text .main-item-text-content {
  position: relative;
  padding-top: 48px;
  height: 100%;
}
/* line 50, ../sass/layout/_main.scss */
.main-wrapper .main-content .main-item .main-item-wrapper .main-item-text .main-item-text-content .item-head {
  display: inline-block;
  width: auto;
  margin: 0 auto;
  margin: 0 24px 12px 24px;
  color: #FAFAFA;
}
/* line 60, ../sass/layout/_main.scss */
.main-wrapper .main-content .main-item .main-item-wrapper .main-item-text .main-item-text-content ul li {
  overflow: hidden;
  position: relative;
  padding: 6px 24px;
  width: 100%;
  color: #FAFAFA;
  cursor: pointer;
  color: #bebebe;
}
/* line 70, ../sass/layout/_main.scss */
.main-wrapper .main-content .main-item .main-item-wrapper .main-item-text .main-item-text-content ul li .tag-bg {
  top: 0;
  width: 100%;
  height: 100%;
  right: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: right 0.2s ease-in-out;
  -moz-transition: right 0.2s ease-in-out;
  -o-transition: right 0.2s ease-in-out;
  transition: right 0.2s ease-in-out;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
}
/* line 80, ../sass/layout/_main.scss */
.main-wrapper .main-content .main-item .main-item-wrapper .main-item-text .main-item-text-content ul li:hover, .main-wrapper .main-content .main-item .main-item-wrapper .main-item-text .main-item-text-content ul li :active {
  color: #FAFAFA;
}
/* line 83, ../sass/layout/_main.scss */
.main-wrapper .main-content .main-item .main-item-wrapper .main-item-text .main-item-text-content ul li:hover .tag-bg, .main-wrapper .main-content .main-item .main-item-wrapper .main-item-text .main-item-text-content ul li :active .tag-bg {
  right: 0;
  -webkit-transition: right 0.2s ease-in-out;
  -moz-transition: right 0.2s ease-in-out;
  -o-transition: right 0.2s ease-in-out;
  transition: right 0.2s ease-in-out;
}
/* line 91, ../sass/layout/_main.scss */
.main-wrapper .main-content .main-item .main-item-wrapper .main-item-text .main-item-text-content a .main-btn {
  max-width: 100%;
  width: calc(100% - 48px);
  margin: 0 24px 0 24px;
  position: absolute;
  bottom: 24px;
}
/* line 104, ../sass/layout/_main.scss */
.main-wrapper .main-content .main-item:before {
  content: "";
  display: block;
  padding-top: 100%;
}
@media screen and (min-width: 1366px) {
  /* line 115, ../sass/layout/_main.scss */
  .main-wrapper .main-content .main-item:nth-child(-n+4) {
    margin-top: 0;
  }
  /* line 116, ../sass/layout/_main.scss */
  .main-wrapper .main-content .main-item:nth-child(4n+1) {
    margin-left: 0;
  }
  /* line 117, ../sass/layout/_main.scss */
  .main-wrapper .main-content .main-item:nth-child(4n+4) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  /* line 124, ../sass/layout/_main.scss */
  .main-wrapper .main-content .main-item:nth-child(-n+3) {
    margin-top: 0;
  }
  /* line 125, ../sass/layout/_main.scss */
  .main-wrapper .main-content .main-item:nth-child(3n+1) {
    margin-left: 0;
  }
  /* line 126, ../sass/layout/_main.scss */
  .main-wrapper .main-content .main-item:nth-child(3n+3) {
    margin-right: 0;
  }
  /* line 127, ../sass/layout/_main.scss */
  .main-wrapper .main-content .main-item {
    width: calc(33.333% - 8px);
  }
}
@media screen and (min-width: 640px) and (max-width: 1024px) {
  /* line 134, ../sass/layout/_main.scss */
  .main-wrapper .main-content .main-item:nth-child(-n+2) {
    margin-top: 0;
  }
  /* line 135, ../sass/layout/_main.scss */
  .main-wrapper .main-content .main-item:nth-child(2n+1) {
    margin-left: 0;
  }
  /* line 136, ../sass/layout/_main.scss */
  .main-wrapper .main-content .main-item:nth-child(2n+2) {
    margin-right: 0;
  }
  /* line 137, ../sass/layout/_main.scss */
  .main-wrapper .main-content .main-item {
    width: calc(50% - 6px);
  }
}
@media screen and (max-width: 640px) {
  /* line 143, ../sass/layout/_main.scss */
  .main-wrapper .main-content .main-item:first-child {
    margin-top: 0;
  }
  /* line 144, ../sass/layout/_main.scss */
  .main-wrapper .main-content .main-item {
    margin-left: 0;
  }
  /* line 145, ../sass/layout/_main.scss */
  .main-wrapper .main-content .main-item {
    margin-right: 0;
  }
  /* line 146, ../sass/layout/_main.scss */
  .main-wrapper .main-content .main-item {
    width: 100%;
  }
}

/* line 5, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
