/*
Variables - for relating component-specific values to others and preventing magic numbers
Mixins - for dynamically generating variations of the component (not necessary if few variations exist)
Structure - the CSS component layout/structure, excluding any non-layout rules, such as color
Relationships - any component-specific CSS with regard to relationships (via combinators) with other components
Themes - thematic CSS for non-layout component styling, such as background, colors, shadows, etc.
Exported Selectors - the manifested CSS classes/selectors, if they are to be expose
*/
/* line 1, ../sass/partials/_reset.scss */
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* line 9, ../sass/partials/_reset.scss */
li {
  list-style: none;
}

/* line 1, ../sass/layout/_grids.scss */
.wrapper {
  position: relative;
}

/* line 5, ../sass/layout/_grids.scss */
.responsive-pad {
  padding: 0 50px;
}
@media (max-width: 480px) {
  /* line 5, ../sass/layout/_grids.scss */
  .responsive-pad {
    padding: 0 20px;
  }
}

/* line 1, ../sass/layout/_navigation.scss */
.nav {
  margin-top: 60px;
  height: 60px;
  width: 100%;
}
/* line 7, ../sass/layout/_navigation.scss */
.nav div {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}
/* line 13, ../sass/layout/_navigation.scss */
.nav div .nav-logo {
  float: left;
  height: 100%;
  width: auto;
  display: table;
}
/* line 20, ../sass/layout/_navigation.scss */
.nav div .nav-logo a {
  display: table-cell;
  vertical-align: middle;
}
/* line 25, ../sass/layout/_navigation.scss */
.nav div .nav-logo a img {
  height: 40px;
  width: 70px;
}
/* line 34, ../sass/layout/_navigation.scss */
.nav div .nav-menu-btn {
  float: right;
  height: 60px;
  width: auto;
  padding: 10px 0;
  cursor: pointer;
}
/* line 42, ../sass/layout/_navigation.scss */
.nav div .nav-menu-btn div {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* line 54, ../sass/layout/_navigation.scss */
.nav-menu-btn.change {
  /* Rotate first bar */
  /* Fade out the second bar */
  /* Rotate last bar */
}
/* line 57, ../sass/layout/_navigation.scss */
.nav-menu-btn.change #top-bar {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
/* line 63, ../sass/layout/_navigation.scss */
.nav-menu-btn.change #mid-bar {
  opacity: 0;
}
/* line 68, ../sass/layout/_navigation.scss */
.nav-menu-btn.change #bot-bar {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* line 1, ../sass/layout/_main.scss */
.main-wrapper {
  padding-top: 24px;
  /*Content Grid layout*/
}
/* line 5, ../sass/layout/_main.scss */
.main-wrapper .main-content {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /*Item properties*/
  /*Responsive Grid for items*/
  /*Desktop devices*/
  /*Tablet devices*/
  /*Phone devices*/
}
/* line 15, ../sass/layout/_main.scss */
.main-wrapper .main-content .main-item {
  position: relative;
  background-color: #FAFAFA;
  width: calc(25% - 9px);
  margin: 12px 6px 0;
  /* Portrait and Landscape */
  /* Individual Item*/
}
@media (max-width: 768px) {
  /* line 15, ../sass/layout/_main.scss */
  .main-wrapper .main-content .main-item {
    width: calc(50% - 6px);
  }
}
@media (max-width: 480px) {
  /* line 15, ../sass/layout/_main.scss */
  .main-wrapper .main-content .main-item {
    width: 100%;
  }
}
/* line 31, ../sass/layout/_main.scss */
.main-wrapper .main-content .main-item .main-item-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
/* line 41, ../sass/layout/_main.scss */
.main-wrapper .main-content .main-item#workato .main-item-wrapper {
  cursor: pointer;
  background-image: url(/images/item-workato.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-transition: background-position 0.2s ease-in-out;
  -moz-transition: background-position 0.2s ease-in-out;
  -o-transition: background-position 0.2s ease-in-out;
  transition: background-position 0.2s ease-in-out;
}
/* line 49, ../sass/layout/_main.scss */
.main-wrapper .main-content .main-item#workato:hover .main-item-wrapper {
  background-position: 0 -36px;
  -webkit-transition: background-position 0.2s ease-in-out;
  -moz-transition: background-position 0.2s ease-in-out;
  -o-transition: background-position 0.2s ease-in-out;
  transition: background-position 0.2s ease-in-out;
}
/* line 58, ../sass/layout/_main.scss */
.main-wrapper .main-content .main-item:before {
  content: "";
  display: block;
  padding-top: 100%;
}
@media screen and (min-width: 768px) {
  /* line 70, ../sass/layout/_main.scss */
  .main-wrapper .main-content .main-item:nth-child(-n+4) {
    margin-top: 0;
  }
  /* line 74, ../sass/layout/_main.scss */
  .main-wrapper .main-content .main-item:nth-child(4n+1) {
    margin-left: 0;
  }
  /* line 78, ../sass/layout/_main.scss */
  .main-wrapper .main-content .main-item:nth-child(4n+4) {
    margin-right: 0;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 88, ../sass/layout/_main.scss */
  .main-wrapper .main-content .main-item:nth-child(-n+2) {
    margin-top: 0;
  }
  /* line 92, ../sass/layout/_main.scss */
  .main-wrapper .main-content .main-item:nth-child(2n+1) {
    margin-left: 0;
  }
  /* line 96, ../sass/layout/_main.scss */
  .main-wrapper .main-content .main-item:nth-child(2n+2) {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 105, ../sass/layout/_main.scss */
  .main-wrapper .main-content .main-item:first-child {
    margin-top: 0;
  }
  /* line 109, ../sass/layout/_main.scss */
  .main-wrapper .main-content .main-item {
    margin-left: 0;
  }
  /* line 113, ../sass/layout/_main.scss */
  .main-wrapper .main-content .main-item {
    margin-right: 0;
  }
}

/* line 5, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
